/* You can add global styles to this file, and also import other style files */

@import "@docgeni/template/styles/index.css";

.dg-doc-header {
  display: none !important;
}

$languages: HTML, CSS, JS, TS, JAVA, GO, BASH;

@each $language in $languages {
  pre[class~="language-#{$language}"] {
    position: relative;
    &::before {
      content: quote($language);
      position: absolute;
      font-size: 12px;
      top: 4px;
      right: 8px;
      color: #999;
    }
  }
}
