<div id="navigation">
  <div class="menu">
    <div class="menu-item">菜单</div>
    <div
      *ngFor="let item of navigationData; let i = index"
      [class]="['menu-item', currentMenu === i && 'menu-item--active']"
      (click)="currentMenuChange(i)"
    >
      {{ item.text }}
    </div>
  </div>
  <div class="content">
    <div class="content-childmenu">
      <div
        *ngFor="let item of navigationData[currentMenu].children; let i = index"
        [class]="['content-childmenu__item', currentChildMenu === i && 'content-childmenu__item--active']"
        (click)="currentChildMenu = i"
      >
        {{ item.text }}
      </div>
    </div>
    <div class="content-links">
      <div *ngFor="let item of navigationData[currentMenu].children[currentChildMenu].children" class="content-link__item">
        <div class="content__link" (click)="go(item.link)">
          <img class="content__link-logo" [src]="item.logo" alt="" />
          {{ item.text }}
        </div>
      </div>
    </div>
  </div>
</div>
